*~
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.toc
_articles.tex
Makefile.standalone-targets
*.tmp.tex
*.tmp.pdf
*.ebook.tex
*.ebook.css
*.ebook.dvi
*.ebook.html
*.ebook.4ct
*.ebook.4tc
*.ebook.idv
*.ebook.lg
*.ebook.pdf
*.ebook.tmp
*.ebook.xref
